<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/063be551-81fd-461b-8db1-5a7f83908466/resourcegroups/PlantNannyAPI4720Win/providers/Microsoft.Web/sites/PlantNannyAPI4720Win</ResourceId>
    <ResourceGroup>PlantNannyAPI4720Win</ResourceGroup>
    <ApiResourceId>/subscriptions/063be551-81fd-461b-8db1-5a7f83908466/resourceGroups/PlantNannyAPI4720Win/providers/Microsoft.ApiManagement/service/PlantAPI4720Win/apis/plants</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://plantnannyapi4720win.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8141bc8c-5ffd-485f-99de-04a879574a0e</ProjectGuid>
    <MSDeployServiceURL>plantnannyapi4720win.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlantNannyAPI4720Win</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PlantNannyAPI4720Win</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>